<%- include("./partials/header.ejs") %>
<section class="section">
    <div class="container">
        <h1 class="title">Create Your VERY OWN Todolist!</h1>
        <a class="button is-info is-outlined" href="/login"> Login</a>
        <a class="button is-info" href="/signup"> Signup</a>
    </div>
</section>
<%- include("./partials/footer.ejs") %>