<%- include("./partials/header.ejs") %>
<section class="section">
    <div class="container">
        <% if (locals.messages.errors) { %>
            <% messages.errors.forEach( el => { %>
                <div class="notification is-danger is-light"><%= el.msg %></div>
            <% }) %>    
        <% } %>
        <% if (locals.messages.info) { %>
            <% messages.info.forEach( el => { %>
                <div class="notification is-success"><%= el.msg %></div>
            <% }) %>    
        <% } %>
        <div class="columns">
            <div class="column is-half is-offset-one-quarter">
                <form class="box" action="/login" method="POST">
                    <h1 class="title">Login</h1>
                    <div class="field">
                        <label for="email" class="label">Email</label>
                        <div class="control">
                            <input class="input" type="email" name="email">
                        </div>
                    </div>
                    <div class="field">
                        <label for="password" class="label">Password</label>
                        <div class="control">
                            <input class="input" type="password" name="password">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <button class="button is-info">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<%- include("./partials/footer.ejs") %>